    # NetId: rj931
    # Ryan Johnson
    # Applied Biostatistics

In [1]:
wh  <-  read.csv("weight-height (1).csv.gz", header = TRUE)
feh <- sample(wh[c(5001:10000),2],20)
mah  <- sample(wh[c(1:5000),2],20)
#ht  <- wh[c(1:20,5001:5020),2]

#above i have random female heights as feh, random male heights as mah and both
# heights as ht
few <- sample(wh[c(5001:10000),3],20)
maw  <- sample(wh[c(1:5000),3],20)
wt  <- wh[c(1:20,5001:5020),3]
# above i have the female weights as few, male weights as maw and both
# weights as wt

In [2]:
# question 1 part 1


height_test <- t.test(feh,mah)
# this is the t-test for height 
weight_test <- t.test(few,maw)
#this is the t-test for weight

#both_test <- t.test(ht,wt)
# this is the t-test for both height and weight

cat('the t-test for height is:\t')
height_test

# i think the difference of means being 5.9 means it is significant 
# for the height t-test between women and men

cat('the t-test for weight is:\t')
weight_test

# the difference of means being 56.9 shows significance in the samples

the t-test for height is:

	Welch Two Sample t-test

data:  feh and mah
t = -7.1485, df = 37.959, p-value = 1.559e-08
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -8.816655 -4.924983
sample estimates:
mean of x mean of y
 62.91910  69.78992

the t-test for weight is:

	Welch Two Sample t-test

data:  few and maw
t = -10.98, df = 37.968, p-value = 2.413e-13
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -70.19436 -48.33918
sample estimates:
mean of x mean of y
 128.4759  187.7427

In [53]:
69.50638-63.56342
136.3136 - 182.0757

[1] 5.94296

[1] -45.7621

In [3]:
# question 2 part1

new_feh <- c()
# first i needed to make a new empty list where the new values 
# for female height added with 0.1 each time will be placed into

y <- 0
# this y variable is to be used in the while loop so i can
# keep adding an additional 0.1 to the data after each for loop


diff_mean <- (sum(mah)/length(mah))-(sum(feh)/length(feh))
# here i needed to get the difference of the two means
# this number will be used in the while loop statement
# but only once. the next time i use this variable it will have
# the difference of two means but with the updated female means

while (diff_mean > 0.05){
# here is my while loop looking to see if the difference of two 
# means are greater than 0.05 still
    
    y <-  y+0.1
    #here i update the y variable after each loop
    
    for (x in feh){
        new_feh <- append(new_feh,x+y)
        #in this for loop, every value in female height will be added
        # to the y variable and then appended to the new_feh 
        
        #print(y)
        
    }
    diff_mean <- mean(mah)-mean(new_feh)
    #after the for loop but still inside the while loop. 
    # i get the new difference of mean every time the for loop 
    # populates the varilble new_feh with the updated numbers
    
    new_feh  <- NULL
    # next i need to empty the variable new_feh, to get it ready for
    # the next loop so its only populated with the even newer
    # updated values for female heights

    

    
}
cat('the max number i can add to each female height
till the significance of the difference in means falls below
0.05 is: ',y)

# here i printed an output to tell what the max number is needed to
# be added to each of the female heights

for (x in feh){
    new_feh <- append(new_feh, x+y)
}
# i made a new for loop to repopulate the variable since i cant use
# it after my loops are done becaues of the code that empties it
# so i just use the max y that was found and add that to each female
# height value 

new_feh
# i show each of the final values that are added

t.test(new_feh,mah)
# next i run a t-test on it

the max number i can add to each female height
till the significance of the difference in means falls below
0.05 is:  6.9

 [1] 68.42461 69.75937 69.99170 70.70553 75.13055 64.69553 65.80638 77.26012
 [9] 69.42347 70.19022 71.56524 66.85596 68.23451 68.83771 70.77808 64.54752
[17] 71.52535 70.92743 71.86064 69.86204

	Welch Two Sample t-test

data:  new_feh and mah
t = 0.03036, df = 37.959, p-value = 0.9759
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -1.916655  1.975017
sample estimates:
mean of x mean of y
 69.81910  69.78992

# number 3 part 1
no, i dont think that if i choose the height of every female to be equal to the mean it would change anything. if every females height were equal to the mean i would still have to add 5.9 every time before the test showed lack of signifacant difference

# number 4 part 1
the answer in number 2 is related to the diference in the means between the two groups because that number is how much you need to add to the female mean to get the male mean. so if looking at a normal distribution graph of both heights for females and males, the males peak would be shifted 5.9 points (in cm) to the right of the females peak. also since the standard deviation is about the same for both, at 2.9, adding anything above that would make the significance start to drop faster

In [4]:
# part 2a

ordered_mh <- sort(wh[1:5000,2])
#ordered_mh
ordered_fh <- sort(wh[5001:10000,2])
tb40_mah <- c(head(ordered_mh,20),tail(ordered_mh,20))
tb40_feh <- c(head(ordered_fh,20),tail(ordered_fh,20))
#length(tb40_mah)
#tb40_mah
# use tb40_mah and tb40_feh for (a) to do a pairwise t-test 
# between the groups

#t.test(tb40_feh,tb40_mah)


# then separate them into four groups for the ANOVA test
short_t20m  <- head(tb40_mah,20)
short_mdf <- data.frame(gender = 'shortM', height = short_t20m)
tall_b20m   <- tail(tb40_mah,20)
tall_mdf <- data.frame(gender = 'tallM', height = tall_b20m)
short_t20f <- head(tb40_feh,20)
short_fdf <- data.frame(gender = 'shortF', height = short_t20f)
tall_b20f  <- tail(tb40_feh,20)
tall_fdf <- data.frame(gender = 'tallF', height = tall_b20f)

# above for each group, i took the top of the men height, bottom of
# men height, top of female height, bottom of female height, then
# put that in the t-test below.
# further i also made all the 4 variables into dataframes for the 
# next part which is part b.

#short_mdf
#tall_fdf

t.test(tall_b20m,short_t20m )
t.test(short_t20f,short_t20m)
t.test(tall_b20f,short_t20m)
t.test(short_t20f,tall_b20m)
t.test(tall_b20f,tall_b20m)
t.test(tall_b20f,short_t20f)
# the above is where i performed a t-test for all 6 combinations
# that exists for the 4 groups

#part 2b

all_df  <- list(short_mdf,tall_mdf,short_fdf, tall_fdf)

# this is where the previously created dataframes went. 
# to prepare them to be accepted by ANOVA i needed to put all 
# 4 groups dataframes into a list called all_df


library(reshape2)

height4_gender_df  <- melt(all_df, variable.name='gender',
                           value.name = 'height')

# now using the reshape2 library i can melt the dataframes (all_df) 
# and create one coherent dataframe in the long format that ANOVA
# likes called, height4_gender_df

#height4_gender_df
height4.aov <- aov( height~gender , data = height4_gender_df)
# above i use aov with the format (height~gender) to get the ANOVA

#height4.aov

data <- TukeyHSD(height4.aov)
# here i used TukeyHSD on my ANOVA results and call it data

data
# this calls the ANOVA data

data$gender[,"p adj"]
# i thought that maybe i can extract the true p adj data but it is 
# still 0.

	Welch Two Sample t-test

data:  tall_b20m and short_t20m
t = 77.918, df = 37.079, p-value < 2.2e-16
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 16.58676 17.47237
sample estimates:
mean of x mean of y
 77.38604  60.35648

	Welch Two Sample t-test

data:  short_t20f and short_t20m
t = -22.943, df = 37.998, p-value < 2.2e-16
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -4.988914 -4.179892
sample estimates:
mean of x mean of y
 55.77207  60.35648

	Welch Two Sample t-test

data:  tall_b20f and short_t20m
t = 49.939, df = 36.992, p-value < 2.2e-16
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 10.51838 11.40801
sample estimates:
mean of x mean of y
 71.31967  60.35648

	Welch Two Sample t-test

data:  short_t20f and tall_b20m
t = -99.219, df = 36.99, p-value < 2.2e-16
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -22.05536 -21.17258
sample estimates:
mean of x mean of y
 55.77207  77.38604

	Welch Two Sample t-test

data:  tall_b20f and tall_b20m
t = -25.699, df = 37.998, p-value < 2.2e-16
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -6.544245 -5.588499
sample estimates:
mean of x mean of y
 71.31967  77.38604

	Welch Two Sample t-test

data:  tall_b20f and short_t20f
t = 71.051, df = 36.9, p-value < 2.2e-16
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 15.10418 15.99101
sample estimates:
mean of x mean of y
 71.31967  55.77207

Warning message:
"package 'reshape2' was built under R version 3.6.3"Using gender as id variables
Using gender as id variables
Using gender as id variables
Using gender as id variables

  Tukey multiple comparisons of means
    95% family-wise confidence level

Fit: aov(formula = height ~ gender, data = height4_gender_df)

$gender
                    diff        lwr        upr p adj
tallM-shortM   17.029567  16.455115  17.604019     0
shortF-shortM  -4.584403  -5.158855  -4.009951     0
tallF-shortM   10.963195  10.388743  11.537647     0
shortF-tallM  -21.613970 -22.188422 -21.039518     0
tallF-tallM    -6.066372  -6.640824  -5.491920     0
tallF-shortF   15.547598  14.973146  16.122050     0

 tallM-shortM shortF-shortM  tallF-shortM  shortF-tallM   tallF-tallM
            0             0             0             0             0
 tallF-shortF
            0

# part 2 number 1

looking at the results of "a" and "b", i can see that the p-values for all 6 comparisons are 2.2e-16. I can also see that there is only one instance where females are taller than males and that is with the "tallF-shortM".

In [6]:
#short-male  <- head(tb40_mah,20)

new_sm  <- head(ordered_mh,20)
x <- 1

# x keep track of how many times the loop is ran, also it is used to 
# remove the range of elements in my tall female list



# c is the range of elements i want to remove at a time.
# -1:-1 would just be removing one element so i start with x as 1,
# -1:-2 will be removing the first and second element which counts as 
# the second time i removed something

while (mean(tall_b20f) > mean(new_sm)){
    c <- c(-1: -x)
    # c is the range of elements i want to remove at a time.
    # -1:-1 would just be removing one element so i start with x as 1,
    # -1:-2 will be removing the first and second element which counts as 
    # the second time i removed something
    
    removed_element <- ordered_mh[c]
    # next i needed to go back to my ordered male height list and plug
    # the c variable in to remove the elements from the list of original
    # ordered male heights
    
    short_male  <- head(removed_element,20)
    # next i took the top twenty of the males remaining in the list
    # gave that group a variable called short_male
    
    new_sm  <- NULL
    # i empty the variable since i want to append new data to it
    
    new_sm <- append(new_sm, short_male)
    #next i wanted to append the new data generated for the (short_male)
    # variable, in this current while loop, to the variable that i just 
    # emptied above
    
    x <- x+1
    # here i want to iterate over the x variable by adding 1 so i can
    # get a precise idea of how many loops i made and how many male
    # heights i ended up deleting 
    # the while loop then continues until its condition is met
}
cat("I need to delete ",x, " male heights to make the mean of short 
male heights bigger than the mean of the tall female heights")

# don't worry about below. i used that to figure out a few things
#new_sm <- short_t20m[-1]
#new_sm
#t.test(tall_b20f,new_sm)

I need to take  3906  male heights to make the mean of short
male heights bigger than the mean of the tall female heights

# attempt 2 at answering for part 2 number 2

since the p-value for tallF vs shortM is pretty low, there may not be a way to invert the means where the men and women in their respective sub groups reflect what we know from the full set, this is because the shortest male is still shorter than the shortest tall female

# original attempt part 2 number 2

I see now that my original reasoning for this question is incorrect. I thought i was deleting heights and getting what was remaining, however, i was actually getting the heights i deleted and using that as my data. so what i actually did was find out how many heights i needed to take from the original male heights, starting with the smallest, to see how many males it would take to make the mean of the the males larger than the mean of the females. so i needed to take 3906 males to make that happen. then the p-value becomes 0.048

Below was my reasoning before, which is wrong

I need to delete 3906 heights, starting from the shortest, to get to a point where the mean of short male heights is larger than the mean of the tall female heights. using the while loop above to get the answer. to then make the difference significant i would need to delete in total 4099 of the shortest male heights to make sure the p-value is less than 0.05. the p-value ends up being 0.048

In [18]:
# this part can be ignored now since i realized that my understanding 
# of the question was flawed
# continued from part 2 number 2

x
# i took the x value generated in the while loop above

v <- c(-1:-x)
# i then used v to get the range of items i want to delet from the 
# original male height. much like i did previously
#length(ordered_mh)
removed_element <- ordered_mh[v]
#length(removed_element)
#length(ordered_mh[v])
# then removed that amount of male heights and called it (removed_element)
sm <- head(removed_element,20)
# then i took the top 20 of the remaining heights and called it sm


test_tf_sm <- t.test(tall_b20f,sm)$p.value
# here i performed a t-test between tall female and short male, only to
# get the p-value from the results

test_tf_sm

while (test_tf_sm > 0.05){
    #started another while loop 
    # this one looks to see if the p-value(test_tf_sm) is larger 
    # than 0.05. which would mean the p-value is not significant
    #the
    x  <- x+1
    # since it is not significant i will add 1 to the x counter
    
    v <- c(-1:-x)
    # adding another 1 to x causes me to delete one more element from
    # the original ordered male heights
    
    removed_element <- ordered_mh[v]
    # now i have removed (v) heights from the ordered male heights
    
    sm <- head(removed_element,20)
    # then i took the top 20 elements left in the male heights data
    test_tf_sm <- t.test(tall_b20f,sm)$p.value
    # with the new small male heights (sm), i perform a t-test
    # this looks for only the p-value and compares it with 0.05
    # the loop will run again if it is greater that 0.05 
    # the loop will stop if it is less than 0.05
    
}
cat("I need to delete a total of ",x, " short male heights, to make
the mean t-test show a significant difference with a p-value of
less than 0.05. The p-value i got is ", test_tf_sm)

[1] 4099

[1] 0.04875636

I need to delete a total of  4099  short male heights, to make
the mean t-test show a significant difference with a p-value of
less than 0.05. The p-value i got is  0.04875636

In [7]:
# part 2 number 3

# what i understand here is now i need to delete the females
# to see how many until the p-value becomes less than 0.05

p  <- 0
# i took the p value generated in the while loop above
leng <- length(ordered_fh)
# i want to have a value that represents the end of the female list
leng
v <- c(-leng:-(leng-p))
# this helps me subtract from the end one at a time
# i then used v to get the range of items i want to delet from the 
# original female height. much like i did previously

removed_element1 <- ordered_fh[v]
# then removed that amount of male heights and called it (removed_element)
ft <- tail(removed_element1,20)
ft
# then i took the bottom 20 of the remaining heights and called it ft


test_ft_del_sm <- t.test(ft,short_t20m)$p.value
# here i performed a t-test between tall female and short male, only to
# get the p-value from the results

test_ft_del_sm

while (test_ft_del_sm < 0.06){
    #started another while loop 
    # this one looks to see if the p-value(test_ft_del_sm) is smaller 
    # than 0.05. which would mean the p-value is still significant
    
    p  <- p+1
    # since it is still significant i will add 1 to the p counter
    
    v <- c(-leng:-(leng-p))
    # adding another 1 to leng causes me to delete one more element from
    # the original ordered female heights
    
    removed_element1 <- ordered_fh[v]
    # now i have removed (v) heights from the ordered female heights
    
    ft <- tail(removed_element1,20)
    # then i took the bottom 20 elements left in the female heights data
    test_ft_del_sm <- t.test(ft,short_t20m)$p.value
    # with the new tall female heights (ft), i perform a t-test
    # this looks for only the p-value and compares it with 0.05
    # the loop will run again if it is still less than 0.05 
    # the loop will stop if it is greater than 0.05
    
}
cat("I need to delete a total of ",p, " tall female heights, to make
the mean t-test show a reduced significance with a p-value of
more than 0.05. The p-value i got is ", test_ft_del_sm)

[1] 5000

 [1] 70.65446 70.66430 70.66486 70.69714 70.71014 70.74209 70.75141 70.81754
 [9] 70.83710 70.93219 70.95066 71.07045 71.12279 71.27751 71.43895 71.55220
[17] 71.99126 72.08871 72.26475 72.42977

[1] 5.498402e-38

I need to delete a total of  4358  tall female heights, to make
the mean t-test show a reduced significance with a p-value of
more than 0.05. The p-value i got is  0.0610873

# attempt 2 at answering part 2 number 3

much like my previous extra attempt for part 2 number 2. i now see that since the shortest female in the 20 tallest females is still taller than the tallest male in the shortest males list, we will not be able to invert the tall female list and make it reflect what we know from the full data where on average males are taller than females.

# original attempt part 2 number 3

Again this understanding for part 2 number 3 is flawed. i did the same thing from part 2 number 2, where i took the original female heights and removed multiple from the bottom and thought i was using the remaing heights that were left. what i was using were the heights i deleted and put in a new list, then took the bottom 20 and saw how many i would need to add to that ned list untill the bottom 20 had a greater than 0.05 p-value when a t-test between the new tall females and the short males. 

Below is what my false understanding was.

i would need to delete 4358 tall females to make reduce significance of the difference to a p-value of greater than 0.05. the p-value i got is 0.061



# part 2 number 4

you cannot use the ms v/s ft with or without deletions to prove the opposite of what the full set implies. this is because before deletions the p-value for the ft v/s ms showed 2.2e-16. this would mean its significant with the average female height of the tallest females being 71.31967 while the average male height of the shortest males is 60.35648, without deletions. the p-value being that low implies that the chance of this occuring randomly is low. does this aim to show us that we can't always trust the p-value?